---
import Base from "../layout/Base.astro";

const { searchParams } = Astro.url;
const token = searchParams.get('token_hash');

if (!token) {
  throw new Error('No token provided for password reset');
}
---

<Base title="Reset Password">
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <section class="w-full max-w-md">
      <h1 class="font-semibold text-2xl dark:text-zinc-100 text-zinc-900 w-full mb-1">
        Reset Your Password
      </h1>
      <form
        action="/api/auth/update-password"
        method="post"
        class="grid grid-cols-1 gap-3 w-full"
      >
        <!-- Include the token as a hidden input -->
        <input type="hidden" name="token" value="{token}" />
        
        <div class="grid grid-cols-1 gap-2">
          <label
            for="password"
            class="font-medium dark:text-zinc-300 text-zinc-900 text-sm"
          >
            New Password
          </label>
          <input
            id="password"
            type="password"
            name="password"
            required
            class="rounded-md py-1 px-3 dark:bg-zinc-800 dark:text-zinc-300 border
                   bg-zinc-50 border-zinc-300 dark:border-zinc-700
                   focus:border-blue-500 focus:outline-none focus:ring-2
                   focus:ring-blue-600 dark:focus:bg-zinc-900 focus:bg-white
                   focus:ring-opacity-60"
          />
        </div>
        <button
          type="submit"
          class="dark:bg-zinc-100 bg-zinc-900 border-zinc-900 py-1.5 border
                 dark:border-zinc-100 rounded-md mt-2 dark:text-zinc-900 text-zinc-100
                 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-offset-2
                 focus:ring-blue-500 dark:focus:ring-offset-zinc-900 disabled:opacity-50
                 disabled:cursor-not-allowed"
        >
          Update Password
        </button>
      </form>
    </section>
  </main>
</Base> 